.c-banner {
    background-color: getColor("secundario");
    margin-top: getMargin(8);
    border-radius: getBorderRadius(3);
    height: 160px;
    display: flex;
    justify-content: space-between;

    &__imagen {
        width: 80px;
        height: 80px;
        padding-top: getPadding(12);
        padding-left: getPadding(9);
    }

    &__titulo {
        color: getColor("blanco");
        font-size: getFontSize("big-1");
        padding: getPadding(10);
    }
}