.c-bottom {
    border-top: getBorderSize("xxs") solid getColor("gris-7");
    padding-top: getPadding(10);
    padding-right: getPadding(0);
    padding-bottom: getPadding(11);
    padding-left: getPadding(8);

    &__logo {
        width: 158px;
        height: 21px;
        padding-bottom: getPadding(3);
    }

    &__items {
        display: flex;
        flex-direction: row;
    }
    &__item {
        text-decoration: underline;
        color: getColor("gris-7");
        font-size: getFontSize("xs");
        padding-right: getPadding(7);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}