.c-panel {
    width: 471px;
    background-color: getColor("blanco");
    color: getColor("secundario");
    border-radius: 4px 4px 0 0;
    text-align: center;
    
    &--full-radius {
        border-radius: 4px;
    }

    &--small {
        width: 400px;
        margin-left: getMargin(9);
    }




    &__imagen {
        border-radius: 4px 4px 0 0;
        max-width: 471px;
    }

    &__titulo {
        font-size: getFontSize("big-1");
        padding-top: getPadding(12);
        padding-left: getPadding(14);
        padding-right: getPadding(14);
        height: 80px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        &--small {
            font-size: getFontSize("xxl");
            padding-top: getPadding(8);
            padding-left: getPadding(1);
            padding-right: getPadding(1);
            padding-bottom: getPadding(10);
            height: auto;
            font-weight: normal;
        }
    }

    &__parrafo {
        color: getColor("gris-4");
        font-size: getFontSize("xl");
        padding-bottom: getPadding(10);
        padding-left: getPadding(14);
        padding-right: getPadding(14);
        height: 60px;

        &--small {
            font-size: getFontSize("xl");
            padding-top: getPadding(5);
            padding-bottom: getPadding(10);
            padding-left: getPadding(6);
            padding-right: getPadding(6);
            height: 90px;
        }
    }
}