.c-preferencias {
    text-align: right;
    margin-bottom: getMargin(7);
    margin-top: getMargin(9);
    
    &__logo{
        width: 170px;
        height: 18px;
        vertical-align: middle;
    }

    &__idioma {
        color: getColor("secundario");
        padding-right: 20px;
    }

    &__caret-down {
        background-image: url(../img/caret-down-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: getPadding(3);
    }
}