.c-preferencias {
    text-align: right;
    margin-bottom: getMargin(0);
    &__logo{
        line-height: 18px;
        background-image: url(../img/logo_segurcaixaadeslas.svg);
        background-repeat: no-repeat;
        margin-left: getMargin(12);
        margin-bottom: getMargin(7);
        margin-top: getMargin(5);
    }

    &__idioma {
        color: getColor("secundario");
        padding-right: getPadding(3);
    }

    &__caret-down {
        background-image: url(../img/caret-down-solid.svg);
        background-repeat: no-repeat;
        padding: getPadding(3);
    }
}