.g--padding-auto {
    padding: auto;
}

@each $key in getPaddingKeys() {
    .g--padding-#{$key}{
        padding: getPadding($key);
    }
}


 @each $key in getPaddingKeys() {
    .g--padding-top-#{$key}{
        padding-top: getPadding($key);
    }
}

@each $key in getPaddingKeys() {
    .g--padding-bottom-#{$key}{
        padding-bottom: getPadding($key);
    }
}


@each $key in getPaddingKeys() {
    .g--padding-left-#{$key}{
        padding-left: getPadding($key);
    }
}



@each $key in getPaddingKeys() {
    .g--padding-right-#{$key}{
        padding-right: getPadding($key);
    }
}