.g--margin-auto {
    margin: auto;
}



@each $key in getMarginKeys() {
    .g--margin-#{$key}{
        margin: getMargin($key);
    }
}



@each $key in getMarginKeys() {
    .g--margin-top-#{$key}{
        margin-top: getMargin($key);
    }
}



@each $key in getMarginKeys() {
    .g--margin-bottom-#{$key}{
        margin-bottom: getMargin($key);
    }
}



@each $key in getMarginKeys() {
    .g--margin-left-#{$key}{
        margin-left: getMargin($key);
    }
}



@each $key in getMarginKeys() {
    .g--margin-right-#{$key}{
        margin-right: getMargin($key);
    }
}